// $bg: #a1c2cc;
$bg: #fdd1ce;
$color: #343434;

.btn {
  background: $bg;
  color: $color;
  font-size: 1.5rem;
  padding: 1.3rem 2.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  transition: all 300ms ease-out;

  &:hover {
    background: $color;
    color: $bg;
  }
}
