// $bg: #a1c2cc;
$bg: #fdd1ce;
$color: #343434;

.btn {
  background: $bg;
  color: $color;
  font-size: 2rem;
  padding: 1.3rem 2.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: capitalize;
  letter-spacing: 0.15rem;
  transition: letter-spacing 300ms ease-out;

  &:hover {
    letter-spacing: 0.35rem;
  }
}
